body{
    background-color:beige;
    color:black;
}

form{
    width: 300px;
    border: 1px solid palevioletred;
    border-radius: 5px;
}

label{
    margin-bottom: 5px;
}

input{
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 2px;
}

.row{
    padding-bottom: 10px;
}

.error{
    color: red
}

input[type="submit"]{
    background-color: aqua;
    color: ivory;
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: blue;
}